.DS_Store
Model/
*.ppt
*.pptx
*.key
*.pages
[Chapter_02A] Instructions_Language_of_the_Computer.pdf
[Chapter_02B] Instructions_Language_of_the_Computer.pdf
1_No Silver Bullet.pdf
2020년도_1학기_소프트웨어공학_강의계획서.PDF
20161180 김동호 No Silver Bullet Review.pdf
[강의자료]_files/*
[Chapter_*.pdf
se-lecture*.pdf